
    
    
            <div class="text-center text-uppercase "> <h1> 
                
                <%= title%>
            </h1></div>
            <div class="divider mt-3"></div>

            <div id="datasheet-zone" style="margin-left:1rem;margin-right:1rem;margin-top:3rem;">
                <div id="datasearch-zone">
                     <div id="condition-zone" class="table-responsive" >
                        <% if(activelog===true) {%>  
                        <form action="/admin/visitlog?active" method="post" id="visitlog-form"> 
                         <input name="activelogflag" value="0" type="text" hidden />
                         <%}else{%>
                            <form action="/admin/visitlog" method="post" id="visitlog-form"> 
                         <%}%>
                         <table  >
                             <thead>
                             <tr>
                                <% if(activelog===false) {%>
                                 <td><lable>Status filted</lable></td>
                                 <% } %>
                                 <td><lable>Reason type</lable></td>
                                 <td><lable>Date range</lable></td>
                                 <td><lable>Visitor Name</lable></td>
                                 
                            </tr>
                        </thead>
                        
                               
                        
                             <tr> 
                                <% if(activelog===false) {%>
                                 <td>
                                   
                                        <select  name="statusFilted" >
                                            <option value='0' selected disabled>Status</option>
                                            <option value="Checkedin">Checked In</option>
                                            <option value="Checkedout">Checked Out</option>
                                            <option value ="Preregistered">Preregistered</option>                                       
                                        </select>
                                   
                                </td>
                                <%}%>
                                <td>
                                    <select   style="line-height: 40px;" name="buttonType">
                                            <option value='0' selected disabled>Reason</option>
                                            <option value="Here for an appointment">Here for an appointment</option>
                                            <option value="Deposit a document">Document deposit</option>
                                            <option  value="Delivery">Delivery</option>                                       
                                        </select>
                                    
                                </td>
                                
                                 <td>
                                    <input   type="text" style="width:23em;" value="" name="dateRange"/> 
                                </td>
                                
                                  <td><input  type="text" name="visitorName" />
                                </td>
                                 <td><button type="sumbit" class="btn btn-xs btn-primary" id="vdisitlog-search-button">Search</button></td>
                            
                             </tr> 
                             
                         </table>
                         </form>  
                     </div>       
                     
                </div>  
                
                <!--div id="logopr-zone" style="float:right;margin-bottom:3px;">
                   <button>button1</button><button>button2</button>
                </div-->
                

                
                <div id="data-zone" style="clear:both;  padding-top:5px;" class="table-responsive">
                    <table class="table thead-dark ">
                        <thead class="thead-dark">
                            <tr>
                                <th>Visitor</th>
                                <th>Contact</th>
                                <th>Reason</th>
                                <th>Preregistered</th>
                                <th>Check In</th>
                                <th>Check Out</th>
                                <th>Action</th>
                            </tr>
                          
                        </thead>
                        <tbody>
                            <% for(const visitor of visitors){ %>
                             <tr data-visit-id=<%=visitor.id %>>
                                 <% if(visitor.firstname==null){ %>
                                 <td>Carrier</td>
                                 <% } else { %>
                                 <td class="visitor-info"> <%- include('visitorcard2',{visitor:visitor}) %></td>
                                 <% } %>
                                 <td> <strong><%= visitor.contactname %></strong> </td>
                                <td> <%= visitor.buttontype %></td>
                                <td> <strong><%= visitor.preregistertime? new Date(visitor.preregistertime).toLocaleString():"" %></strong> </td>                                 
                                 <% if(visitor.checkin) {let lt = new Date(visitor.checkin);  %>
                                 <td> <%= lt.toLocaleString() %></td>
                                 <% } else {%>
                                    <td></td>
                                 <% } if(visitor.checkin!==null &&  visitor.checkout===null) {%>
                                 <%   if(visitor.buttontype!=="Here for an appointment" ){ %>
                                    <td> <a href="#" class="btn  font-12 btn-primary text-uppercase rounded "  style="padding:1px 1px;" data-app-control="checkout">pick up</a></td> 
                                 <%   }else{%>
                                 <td> <a href="#" class="btn  font-12 btn-warning text-uppercase rounded "  style="padding:1px 1px;" data-app-control="checkout">check out</a></td> 
                                  <%}%>
                                 <% }else if(visitor.checkout!==null) {  let lt = new Date(visitor.checkout);   %>
                                 <td> <%= lt.toLocaleString() %></td>    
                                 <% } else {%>
                                    <td></td>
                                    <% } %>
                                 <td> 
                                     <% if(activelog===true) {} else {%>
                                    <a  href="#" class="mt-2  ml-2" style="color: blue;" data-app-control="new-appointment" title="Create a new appointment">  
                                        <i class="fas fa-calendar-plus fa-1x"></i>                                      
                                    </a>
                                    <!--a  href="#" class="mt-2  ml-2" style="color: blue;" data-app-control="new-contact" title="Add to my contacts" >  
                                        <i class="fas fa-address-book fa-1x" ></i>                                      
                                    </a-->
                                     <a  href="#" class="mt-2  ml-2 " data-app-control="delete" title="Delete this visit" >
                                        <i class="fas fa-trash fa-1x color-warning" style="color: Tomato"></i>
                                    </a>   
                                    <% } %>
                                </td>  
                                 
                             </tr>
                             <% } %>
                        </tbody>
     
                    </table>
                </div>
     
              </div>

            
      
   



<script>
    $(function() {

         $('input[name="dateRange"]').daterangepicker({
            timePicker: true,
           // startDate: moment().startOf('hour'),
            //    endDate: moment().startOf('hour').add(32, 'hour'),
            locale: {
                format: 'YYYY-MM-DD, hh:mm A' /*'M/DD hh:mm A'2020-12-11, 5:03:00 p.m.	*/
            },
            autoUpdateInput: false

        });  

        
        

       /* */

        
        
    });

    $(function(){
         
      $("#visitlog-form").submit((evt)=>{
            
            evt.preventDefault(); 

       
             $.ajax({
                url:  $("#visitlog-form").attr('action'),
                type: $("#visitlog-form").attr('method'),
                data: $("#visitlog-form").serialize(),
                success:(res)=>{
                    if(res.result==='ok'){
                        $("#dashboard").html(res.html);
                    }
                    else{
                        showNotification("System busy",res.description);
                    }
                },
                error:(err)=>{
                    console.error(err);
                    showNotification("System Error",err);

                }

            });
         });


    });
    
    ////////////////////
    $(function(){

        $("table a").on('click',(evt)=>{
            /*check out*/
            //console.log("a click");
            let visitid = $(evt.currentTarget).closest('tr').attr('data-visit-id');
            
            switch($(evt.currentTarget).attr('data-app-control')){
                case 'checkout':
                {                     
                    $.post("/visitor/checkout", {qr:JSON.stringify({visitid:visitid})},(res)=>{
                        if(res.checkout){
                             let nt = new Date(res.checkout);
                             $(evt.currentTarget).closest('td').html(nt.toLocaleString());    
                        }              
                    },'json');
                }
                break;

                case 'delete':
                { 
                    $.post("/admin/deletevisit", {visitid:visitid},(res)=>{
                        if(res.result==='ok')
                          $(evt.currentTarget).closest('tr').remove();
                        else{
                            $("#alert-text").html("Delete option failed!");
                            $("#alert-text").showMenu();
                        }
                                 
                    },'json');
                }
                break;

                case 'new-appointment':
                fetchdata("/admin/appointment?visitid=" + visitid); 
                    break;
                case 'new-contact':
                fetchdata("/admin/appointment?visitid=" + visitid);
                    break;

                default:
                    break;


            }
             
        });
        //////////////////////
        //console.log("ok!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!");
       
    });
    function fetchdata(url){
    $.get(url,(res,status)=>{
        
                           if(status==="success") {
                             if(res.result==='ok'){
                                    $("#dashboard").html(res.html);
                             }
                             else{
                                 showNotification("System error", res.description);
                             }

                           }
                           else{
                            showNotification("System error", "operation failed");
                           }
                             

                    } );
    }
  

</script>
 <style>
table select{
    height:34px;
}
 </style>
