 <%- include('sticky_html_start') %>
<div id="page">

    <div class="header header-fixed header-logo-center " style="background-color:#f0f0f0;">
        <a href="/" class="header-title">
            <img src="/image/logo.png" class="max-auto mr-1 scale-box" height="30"></img>ABC company
        </a>
        <a href="/" data-back-button class="header-icon header-icon-1"><i class="fas fa-arrow-left fa-3x" ></i>
            <!--img src="/image/cancel.png" height="50"/> </a-->     
        </a>   
    </div>

    <!-- footer is removed-->

    <div class="page-content header-clear-medium " style="padding-top:50px;width:80%; margin:auto;position:relative">
        <div class="content" >
            <div style="height:30px;"></div>
            <div class="text-center font-35 font-weight-900 color-blue2 caption-app "><p> Please select the contact you want to meet</p></div>
            <div class="divider diverder-margins bg-blue2-dark mt-3"></div>
            <div class="search-box search-color bg-dark1-dark rounded-xl bottom-0">
                <i class="fa fa-search" ></i>
                <input type="text" class="border-0" placeholder="Search here.. - try the word demo " data-search>
            </div> 
            <div class="search-results mt-5">
                 <div class="row">
                    <% 
                    for(const contact of contacts) { %>
                        <%  let contactname =contact.firstname + " " + contact.lastname;   
                            let photo = contact.photo? ("/image/" +  contact.id + ".png"):("/image/logo.png");%>
                        <div class="col-sm-3 col-12"  data-filter-item data-filter-name="<%= contact.lastname.toLowerCase().trim() + " " + contact.firstname.toLowerCase()%>">
                            <div class="card  mr-1 pl-0 pr-0"  data-contactid= "<%= contact.id %>" data-contactname= '<%= contactname %>'>
                                <img class="card-img-top" src= <%= photo %> alt="photo" style="border-bottom:1px solid gray;">
                                <div class="card-body">
                                    <dl>
                                        <dt><%= contactname %></dt>
                                        <dd><%= contact.position %></dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    <% } %>
                 </div>
            </div>
        </div>
    </div>
    <!--menu zone-->
    <div id= "menu-confirm" class="menu menu-box-modal rounded-m" data-menu-height="200" 
        data-menu-width="330" style="height:200px; width:330px;display:block;">
        <h1 class="text-center mt-3 pb-1">Please Confirm</h1>
        <p class="boxed-text-1 text-center">
        Do you want to visit abc?
        </p>
        <div class="row mr-3 ml-3 mb-0">
            <div class="col-6">
                <a id="menu-confirm-ok" href="#" class="close-menu btn btn-sm btn-full button-s shadow-1 rounded-s text-uppercase font-900 bg-green1-dark">Yes</a>
            </div>
            <div class="col-6">
                <a href="#" class="close-menu btn btn-sm btn-full button-s shadow-1 rounded-s text-uppercase font-900 bg-red1-dark">No</a>
            </div>
        </div>
    </div>










    
    <%- include('sticky_html_end') %>

    <script>
        var contactname,contactid;
        $(document).ready(()=>{
            /*require the customer to confirm the selection after click card */
            $(".row").delegate(".card","click",(evt)=>{
                contactid = $(evt.currentTarget).attr("data-contactid");
                contactname = $(evt.currentTarget).attr("data-contactname");
                $("#menu-confirm p")[0].innerHTML = " Do you want to visit "+ contactname + "?" ;
                $("#menu-confirm").showMenu();
                 
            });
            /* after confirm goto next page*/
            $("#menu-confirm-ok").click((evt)=>{
                console.log("click again");
                window.location.href = "visitor/info?contactid="+contactid+"&contactname="+contactname;
            });
            /*when search box is empty ,all item should showen*/
        });
    
    </script>
    
    
</body>
</html>
  