<%- include('sticky_html_start') %>
<div id="page">

    <div class="header header-fixed header-logo-center " style="background-color:#f0f0f0;">
        <a href="/" class="header-title">
            <img src="/image/logo.png" class="max-auto mr-1 scale-box" height="30"></img>ABC company
        </a>
        <a href="/"  class="header-icon header-icon-1"><i class="fas fa-arrow-left fa-1x" ></i>
            <!--img src="/image/cancel.png" height="50"/> </a-->     
        </a>   
    </div>

    <!-- footer is removed-->

    <div class="page-content header-clear-medium " style="padding-top:50px;width:80%; margin:auto;position:relative">
        <div class="content" >
            <div style="height:30px;"></div>
            <!--div class="text-center font-35 font-weight-900 color-blue2 caption-app "><p>Print your badge</p></div -->
            <div class="text-center font-35 font-weight-900 color-blue2 caption-app "><p>Welcome to ABC</p></div>
            <div class="divider diverder-margins bg-blue2-dark mt-3"></div>
            <div class="my-content"  >
                
                    
                    <div id="qrcode-zone" class="card card-style rounded" style="width: 400px; margin:auto" >                        
                        <img src="https://api.qrserver.com/v1/create-qr-code/?size=200x200&data=<%= data.qrcode %>" class="mb-3 mt-5" style="margin:auto" width="200" id="my_qrcode">
                        <ul class="list-group list-group-flush" style="margin:auto">
                            <li class="list-group-item h5" id="visitor-name">Name : <%= data.visitorname %> </li>
                            <li class="list-group-item h5" id="contact-name">Contact Name: <%= data.contactname %></li>
                            <li class="list-group-item h5" id="checkin-time">Checkin Time:<%= data.checkin %></li>
                            <li><a href="#" id="data-btn-print-1"class=" btn btn-m btn-center-m button-s shadow-l rounded-s text-uppercase font-900 bg-green1-light mb-3">SKIP</a></li>
                        </ul>
                    </div> 

               

            </div>
        </div>
    </div>
     <!---menu zone-->   
     
    

    
    <%- include('sticky_html_end') %>

    <SCRIPT>

         
        
        $(document).ready(()=>{
             
            $("#data-btn-print-1").click(()=>{
                window.location.href="/";
            });
        });
 
 
    </SCRIPT>
</body>
</html>